[Unit]
Description=Buzz iPick

[Service]
User=pi
Group=pi
Type=simple
RuntimeDirectory=/home/pi/buzzipick/pypicker
ExecStart=/home/pi/buzzipick/pypicker/venv/bin/python /home/pi/buzzipick/pypicker/buzzimage.py /home/pi/Pictures

[Install]
WantedBy=multi-user.target